version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: studylance_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    depends_on: [db]
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/studylance_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./client
      args:
        VITE_API_BASE_URL: http://localhost:8080/api/v1
    environment:
      # VITE_* читается на этапе сборки. Меняй через build.args.
      VITE_API_BASE_URL: http://localhost:8080/api/v1
    depends_on: [backend]
    ports:
      - "5173:80"

volumes:
  db_data:
